[submodule "themes/universal"]
	path = themes/universal
	url = https://github.com/devcows/hugo-universal-theme
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
