{% extends "layouts/base.html" %}
{% block content %}
<article class="content content--no-margin">
	<div class="keyart">
		<div class="content content__main">
			<h1 class="content content__main-header">{{ intro.title }}</h1>
			<p class="content content__main-tagline">{{ intro.tagline }}</p>
		</div>
	</div>
	
</article>

{% include "partials/featured-plants.html" %}

{% include "partials/featured-post.html" %}

{% include "partials/interactive.html" %}

{% include "partials/cta.html" %}
{% endblock %}
