{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{% block content %}

{% include "partials/page-header.html" %}
<article class="content">
	<h2 class="content content__header">{{ scientificName }}</h2>
	<section class="content content__gallery">
		{% for item in images %}
			<img src="{{ item.url }}" alt="{{ item.altText }}" class="content content__image" />
		{% endfor %}
	</section>
	<section class="content content__facts">
		<p>
			Read about <em>{{ scientificName }}</em> at 
			<a href="{{ infoPage.url }}" target="_blank" class="content content__link">{{ infoPage.title }} - {{ scientificName }}</a>
		</p>
	</section>
</article>

{% include "partials/cta.html" %}

{% endblock %}
