{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{% block content %}
<section class="plant">
	<header class="hero">
		<div class="[ hero__inner ] [ wrapper ]">
			<div class="[ hero__content ] [ dot-shadow radius flow ] [ bg-dark-shade color-light flow-space-400 ]">
				{% include "partials/page-header.html" %}
				<h2 class="scientific-name">{{ scientificName }}</h2>
			</div>
		</div>
	</header>
	<article class="[ gallery ] [ flow flow-space-800 ]">
		{% for item in images %}
			<img src="{{ item.url }}" alt="{{ item.altText }}" class="gallery__image" />
		{% endfor %}
	</article>
	<article class="facts">
			<h2>Learn about {{ scientificName }}</h2>
			<a href="{{ infoPage.url }}" target="_blank">{{ infoPage.title }} - {{ scientificName }}</a>
	</article>
</section>

{% include "partials/cta.html" %}

{% endblock %}
