{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{% block content %}
	<article>
		{% include "partials/page-header.html" %}

		<div class="[ page-content ] [ flow wrapper ] [ flow-space-700 gap-top-700 ]">
			{{ content | safe }}
		</div>
	</article>

	{% if tags %}
		<ul class="tags-list" aria-describedby="tags-desc">
			{% for tag in tags %}
				<li>
					<a href="/tag/{{ tag | slugify }}/">#{{ tag | title | replace(' ', '') }}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% include "partials/cta.html" %}
{% endblock %}
