{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{% block content %}

{% include "partials/page-header.html" %}
<article class="content">
	<section class="content content__post">
		{{ content | safe }}
	</section>
	
	{% if tags %}
	<section>
		<ul class="content content--flex-row" aria-describedby="tags-desc">
		{% for tag in tags %}
			<li class="content content__item content__item--small">
					<a href="/tags/{{ tag | slugify }}.html" class="content content__link">#{{ tag | title | replace(' ', '') }}</a>
			</li>
		{% endfor %}
	</ul>
	</section>
	{% endif %}
</article>



{% include "partials/cta.html" %}
{% endblock %}
