/** All elements */
* {
    font-family: Verdana, Arial, sans-serif;
}

/** Skip to content link*/
.skip-to-content {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-to-content:focus {
    position: static;
    width: auto;
    height: auto;
}

/** Navigation */
.nav {
    background-color: #3b5f5f;
    display: flex;
    justify-content: safe flex-end;
    overflow: hidden;
}

.nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0;
	line-height: 0;
    width: 100%;
}

.nav__item {
    padding: 14px 16px;
}

.nav__link {
    color: white;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.nav--left {
    font-size: 18px;
	line-height: 14px;
    margin-right: auto;
}
