<article class="[ interactive ] [ dot-shadow panel ] [ bg-light-glare ]">
	<div class="[ wrapper ] [ flow ]">
		<div class="[ interactive__inner ] [ flow ]">
			<div class="[ interactive__intro ] [ flow flow-space-300 ]">
				<h2
					class="[ interactive__heading ] [ headline ] [ color-quinary-shade lg:measure-micro ]"
					data-highlight="dark"
				>
					{{ interactive.title }}
				</h2>
				<p class="[ interactive__content ] [ measure-compact ]">
					{{ interactive.source }}
				</p>
			</div>
		</div>
	</div>
</article>
