<a class="skip-to-content" href="#main-content">Skip to content</a>
<header role="banner" class="header">
	<a href="/" aria-label="{{ site.name }} - home" class=" header header__logo">Tangled Wilds</a>
	<nav class="nav" aria-label="Primary">
		<ul class="nav nav__list">
			{% for item in navigation.items %}
			<li class="nav nav__item">
				<a href="{{ item.url }}" class="nav nav__link" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
					{{ item.text }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</header>
